<div class="panel panel-default">
<div class="panel-heading"><h3><strong>Listing Users</strong></h3></div>
   <div class="panel-body">

	<table class="table table-hover">

		<thead>
			<tr>
			    <th><%= sort_link "First Name" %></th>
				<th><%= sort_link "Last Name" %></th>
				<th>Gender</th>
				<th><%= sort_link "Company" %></th>
				<th>City</th>
				<th>Email</th>
				<th>Mobile Number</th>
				<th>Interested Technology</th>
				<th><%= sort_link "Job Status" %></th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			   <tr>
			   	  <td><%= user.first_name %></td>
			   	  <td><%= user.last_name %></td>
			   	  <td><%= user.gender %></td>
			   	  <td><%= user.company %></td>
			   	  <td><%= user.city %></td>
			   	  <td><%= user.email %></td>
			   	  <td><%= user.mobile_number %></td>
			   	  <td><%= user.technology %></td>
			   	  <td><%= user.job_status %></td>
			   	  <td><%= user.description %></td>
			   	  <td><%= link_to edit_user_path(user.id) do%><span class = "glyphicon glyphicon-pencil"></span><% end %> | <%= link_to user_path(user.id), method: :delete, data: {confirm: "Are you Sure ?"}  do %><span class = "glyphicon glyphicon-trash"></span><% end %></td>
			   </tr>
			<% end %>
		
		</tbody>
	</table>

	<strong><%= will_paginate @users%></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

	<%= link_to new_user_path, class: "btn btn-info" do %>
		<i class="glyphicon glyphicon-plus"><strong>Add User</strong></i>
	<% end %>

  </div>
</div>




